

.accordion{
  padding: 100px 0px;
  .accordion-item{
    width: 219px;
    height: 50vh;
    position: relative;
    display: inline-flex;
    color: #fff;
    text-align: center;
    border: 0;

    &:hover{
      .accordion-title{

      }
    }
  
    .accordion-title{
      background-position: center;
      width: 225px;
      height: 70vh;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      .overlay{
        content: '';
        position: absolute;
        background: #00000063;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
      }
      h4{
        z-index: 99;
        padding-top: 180px;
      }
      
    }
    .accordion-body{
      position: absolute;
      top: 20%;
      left: 0;
    }
  }
}