
.prof-int {
    .picture {
        img {
            width: 100%;
            height: 432px;
            object-fit: cover;
        }
    } 

    .text {
        padding-left: 50px;

        .generalHead {
           

            h2 {
                font-weight: 300;
            }
        }

        
    }
}

.prof-text {
    .quote {
        margin-bottom: 50px;

        h4 {
            font-weight: 200;
            font-size: 32px;
            line-height: 49px;
            font-family: "Albra";
            margin-top: 40px;
        }
    }

    p {
        margin-bottom: 50px;
    }
}
