// .profile{

//     .upper{
//         .left-margin{
//             margin-left: calc(100% * 1/12);
//             padding: 0 20px;
//         }
//         h2{
//             margin-top: -10px;
//             font-weight: 300;
//         }

//         img{
//             width: 90%;
//             height: 401px;
//             object-fit: cover;
//         }
//         p{
//             margin: 40px 0;
//         }
//         .italic-cor{
//             font-size: 28px;
//             line-height: 28px;
//             text-align: center;
//         }
//     }
    
//     .lower{
//         justify-content: center;
//         margin-top: 40px;
//         p{
//             width: calc(100% * 6/12);
//             margin: auto;
//             margin-bottom: 30px;
//         }
//     }

// }

.prof-int {
    .picture {
        img {
            width: 100%;
            height: 432px;
            object-fit: cover;
        }
    } 

    .text {
        padding-left: 50px;

        .generalHead {
           

            h2 {
                font-weight: 300;
            }
        }

        
    }
}

.prof-text {
    .quote {
        margin-bottom: 50px;

        h4 {
            font-weight: 200;
            font-size: 32px;
            line-height: 49px;
            font-family: "Albra";
            margin-top: 40px;
        }
    }

    p {
        margin-bottom: 50px;
    }
}
