
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
    background-color: #f1f4f1;
    font-family: 'Neufile Grotesk';
}

.container {
    max-width: 1680px;
    margin: auto;
}

.container-small {
    max-width: 1280px;
    margin: 0 auto;
}
  
ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    font-family: 'Neufile Grotesk';
}

a:hover{
    text-decoration: none;
}

p{
    margin-bottom: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Albra';
}

h1 {
    font-size: 72px;
}

h2{
    font-size: 44px;
    line-height: 55px;
    font-weight: 400;
    color: #007a3e;
}

h6{
    font-size: 13px;
    font-family: 'Neufile Grotesk Light Extended';
    
}

p{
    font-size: 18px;
    line-height: 32px;
    font-family: 'Neufile Grotesk';
    font-weight: 300;
}

.italic-cor {
    font-weight: 200;
    font-size: 32px;
    line-height: 49px;
    margin: 0;
    font-family: "Albra";
    
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.white{
    background-color: #FFFFFF;
}

.dropdown-item {
    transition: 0.8s;
}

.dropdown-item:hover{
    
    transform: translateX(10px);
    background: transparent;
    
 }

