
@media screen and (max-width: 1900px) {

	.container {
		max-width: 1650px;
        margin: auto;
    }

    .container-small, .container-60{
        max-width: 1400px;
        margin: auto;
    }

    .container-50{
        max-width: 1200px;
        margin: auto;
    }

    .part{
        margin: 180px auto;
    }

    .foundation .inner .generalHead{
        padding: 15% 8%;
    }

    .overview .principles .inner{
        padding: 0;
    }

    .points .content .text {
        padding-left: 130px;
    }
}

@media screen and (max-width: 1600px) {
     
    .container, .container-small {
        max-width: 1300px;
        margin: auto;
    }

    .container-60 {
        max-width: 910px;
        margin: 0 auto;
        width: 100%;
    } 
    
    .container-50 {
        max-width: 570px;
        margin: auto;
        width: 100%;
    
    }
}

@media screen and (max-width: 1400px) {

    .container{
        max-width: 1680px;
        margin: auto;
    }

    .container-small {
        max-width: 1170px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 1024px) {
    
    .container {
        max-width: 970px; 
    }

    .container-small{
        max-width: 900px;
        margin: auto;
    }    
    
    .part{
        margin: 100px auto;
    }

    .menu-btn {
        display: block !important;
        
    } 

    header .navs {
        
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0%;
        padding-top: 10px;
        overflow-y: scroll;
        padding: 20px;
        transform:translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        background-color: #0e231a;
        display: flex;
        flex-direction: column-reverse; 
        justify-content: center;
    }

    header .navs ul {
        display: block;
        margin: 0;
        padding: 0;
        
    }

    header .navs ul li{
        display: block;
        padding: 0;
        margin: 30px;
    }

    
    header .navs ul li a {
    
        font-size: 20px;
        font-weight: 500;
        color: #ffffff !important;
        padding: 0px ;       
    }
    
    header .navs .nav-top ul li a {
        
        font-size: 18px;
        font-weight: 400;
        color: #ffffff !important;
        padding: 0px ;       
    }

    header .nav-top{
        border-top: 1px solid #ffffff;
    }

    header .nav-bottom .right{
        display: inline;
        margin-left: 10px;
    }
    
    header .nav-bottom .down{
        display: none;
    }
    
    header .navs ul li .dropdown-menu {
        display: none;
        background: transparent;
        transition: 0.8s;
        position: relative;
        width: 100%;
        height: auto;
        transform: translateY(0);
   
    }

    header .navs ul li:hover .dropdown-menu {

        transform: translateY(0px);
        position: relative;
        display: block;
        padding-bottom: 0;
        margin-bottom: 10px;
        top: 0;
    }

    header .navs ul li .dropdown-menu li {
        display: block;
        
    }

    .banner .banner-text .text h1{
        font-size: 50px;
    }
    
    .non .banner-text .text{
        margin-top: 280px;
    }

    .banner .banner-text .video video {
        width: 60%;
    }
    
    .foundation .overlay{
        width: 70%;
    }

    .foundation .inner .generalHead{
        padding: 8% 6%;
        width: 68%;
    }

    .learn .col-md-4 {
        width: 33.33%;
    }

    .learn .col-md-4:nth-child(even) {
        margin: inherit;
    }

    .intro h1{
        font-size: 60px !important;
    }

    .report .report-card .publish h4{
        font-size: 14px;
    }

    .intro p, .award p{
        font-size: 16px;
    } 

    .overview .principles .inner{
        padding: 30px;
        margin: 50px 0;
    }

    .points .content .text {
        margin-top: 50px; 
        padding-left: 0px;
    }

    .points .content .div {
        margin-top: 0px;
    }

    .members .column .card-overlay .text-overlay{
        top: 70%;
    }

    .award .text {
        margin: 0;
    }

    .award .picture{
        margin-top: 30px;
    }

    .prof-int .text{
        margin-top: -34px;
    }
    
    .vacancy .form form {
        padding: 0 20px;
    }
    
    .form-group .mid{
        flex-direction: column;
    }

    .form-group .mid .col-md-6{
        width: 100%;
    }

    .form-group #phone{
        margin-top: 40px;
    }

    
}

@media screen and (max-width: 768px) { 

    .container, .container-small {
        max-width: 740px; 
    }

    .part{
        margin: 50px auto !important;
    }

    .italic-cor{
        font-size: 24px;
    }

    .breadcrumb{
        left: 20%;
        transform: translate(0%);
    }

    header .navs .nav-top ul li a {
        font-size: 14px !important;
        font-weight: 300 !important;
    }

    header .navs .nav-top ul li {
        margin: 10px 30px;
    }

    header .navs .nav-top ul {
        padding-top: 20px;
    }

    header .navs ul li .dropdown-menu {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        transform: translate(0) !important;
    }

    .generalHead h2{
        font-size: 38px;
    }
    
    .generalHead p{
        font-size: 15px;
    }

    .general-btm.white:after{
        left: 17%;
    }

    .mission p{
        width: 100%;
    }

    .para{
        padding: 60px 0;
    }

    .foundation{
        height: 700px;
    }

    .at_glance .glance p{
        margin-bottom: 80px;
        margin-top: 40px;
    }

    .learn .col-md-4 {
        width: 100%;
        margin-bottom: 20px;
    }
 
    .learn .col-md-4 img{
        height: 100%;
    }

    .small{
        margin: 0;
    }
    
    .footer .bottom .social .ul{
        font-size: 11px;
    }

    .at_glance .glance p {
        width: 100%;
    }

    .vacancy form{
        padding: 0 20px !important;
    }

    .vacancy .radio{
        
        display: grid !important;
    }

    .vacancy .ttr input {
        width: 30% !important;
    }
}

@media screen and (max-width: 480px) { 

    .container, .container-small {
        max-width: auto; 
    }
    
    .general-btm.white:after{
        left: 50%;
    }

    .wrap.generalHead {
        padding: 0 15px;
        margin-bottom: 25px;
    }

    .bullet li ::before{
        content: '';
        width: 6px;
        height: 6px;
        background: #007a3e;
        position: absolute;
        top: 15px;
        left: 0;
        border-radius: 50%;
    }

    .generalBody {
        padding: 100px 24px 50px;
    }

    .generalBody .body {
        margin-bottom: 70px;
    }

    .banner{
        height: auto;
    }

    .banner .banner-text {
        display: block;
        padding-bottom: 80px;
    }
    .banner .banner-text .video {
        margin-top: 50px;
    }

    .banner .banner-text .video video, .text{
        display: block;
        width: 90% !important;
        margin: auto;
    }

    .banner .banner-text .video video{
        height: 300px;
    }

    .banner .banner-text .text{
        text-align: center;
        position: relative;

    }

    .general-btm.white:after, :before {
        display: none;
    }

    .para{
        width: 100%;
    }

    .para .row .col-md-6{
        padding-right: 0;
    }

   .foundation{
        height: 468px;
    }

    .foundation .overlay{
        width: 100%;
    }

    .foundation .inner .generalHead {
        padding: 50px 20px;
        width: 100%;
    }

    .learn-card {
        padding: 0 15px;
        margin: 32px 0;
    }

    .learn .picture{
        padding: 0;
    }

    .small .start a{
        margin-top: 10px;
        width: 100%;
    }

    .mission p {
        margin: 0;
    }

    footer .top{
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 65px 20px;
        padding-top: 80px;
    }

    footer .bottom{
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }

    footer .bottom .social{
        margin-bottom: 20px;
    }

    footer .bottom .nav ul{
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
 
    footer li{
        text-align: center;
        padding-bottom: 10px;
    }  

    .foundation .inner .picture img {
        height: 395px;
    }

    .vacancy form{
        padding: 10px !important;
    }

    .vacancy .ttr li{
        display: block !important;
    }

    .vacancy .ttr li input{
        width: 100% !important;
    }
}

