

.generalHead {
    h6{
        margin-bottom: 18px;
        letter-spacing: .25em;
        display: inline-block;
        position: relative;
        color: #fff;

        &:after {
            content: '';
            width: 70px;
            height: 0.5px;
            position: absolute;
            top: 50%;
            left: 130%;   
            background-color: #fff;

        } 
    }
    .green{
        color: #007a3e;
        &::after{
            background-color: #007a3e;
        }
    }

    h2{
        
        margin-bottom: 18px;
    }
    p{
       
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 0;        
    }
    a{
        color: #0e231a;
        &:hover{
            color: #007a3e;
        }
    }
}

.general-btm {
    color: #007a3e;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 5px;
    position: relative;

    &:hover {
        &::before {
            width: 0;
        }

        &::after {
            width: 130px;
            transition-delay: 0.3s;
        }
    }

    
    &::before {
        content: '';
        position: absolute;
        bottom: 5%;
        left: 0%;
        width: 130px;
        height: 1px;
        background-color:#007a3e;
        transition: 0.5s;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 5%;
        left: 0%;
        width: 0px;
        height: 1px;
        background-color:#007a3e;
        transition: 0.5s;
    }

    &.white {
        color : #fff;
        font-weight: 600;
        background-color: transparent!important;
        &:before {
            background-color: #fff;
            bottom: -15px;
            left: 0;
            height: 1px;
        }

        &:after {
            background-color: #fff;
            bottom: -15px;
            left: 0;
            height: 1px;
        }
    }
}

.general-button{
   a{
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 1px solid #007a3e ;
    display: inline-block;
    color: #FFFFFF;
    background-color: #007a3e;
    align-items: center;
    transition: 0.8s;

    &:hover{
        background: transparent;
        color: #007a3e;
     }
   } 
}

.picture{
    position: relative;
    overflow: hidden;
}

.spacing{
    padding-right: calc(var(--bs-gutter-x) * 0.8);
    padding-left: calc(var(--bs-gutter-x) * 0.8);
}

.breadcrumb{
    color: #FFFFFF;
    padding: 10px 0px;
    position: absolute;
    margin-top: -20px;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);

    li{
        display: inline;
        font-size: 13px;
        padding: 5px;
        text-transform: uppercase;
        margin: 5px;
        letter-spacing: 2px;
        font-weight: 100;
        
        a {
            font-weight: 100;
            
        }       

        ion-icon {
            
            margin: 0 8px -3px 14px;
            font-size: 16px;
        }

        a {
            color: #FFFFFF;
            text-decoration: none;

            &:hover{
                color: #FFFFFF;
                text-decoration: underline;
            }
        }
    }
}

.bullet{
    li{
        position: relative;
        padding-left: 20px;
        &::before {
            content: '';
            width: 6px;
            height: 6px;
            background: #007a3e;
            position: absolute;
            top: 15px;
            left: 0;
            border-radius: 50%;
        }
        p{
            margin: 8px 0 !important;
        }
        &.space{
            margin-top: 20px;
        }
    }
    &.general{
        li{
            &::before{
                top: 8px;
            }
        }
    }
}

.full{
    position: fixed;
    background: #000000ba;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 120vh;
    // display: none;
    z-index: 99;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: 0.8s;
    padding-top: 250px;
    
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }
    video{
        
        width: 650px;
    }
    .close-btn{
        ion-icon{
            position: absolute;
            top: 180px;
            right: 170px;
            z-index: 9;
            font-size: 50px;
            color: white;
    
            svg{
                font-size: 22px;
                color: #fff;
            }
            
        }
    }
}

table{
    width: 100%;
    text-align: center;
    border: 1px solid #d8e5d8;
    margin-bottom: 50px ;

    th{
        border-right: 1px solid #d8e5d8;
        border-left: 1px solid #d8e5d8;
        width: 33.33%;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 0;
        text-transform: uppercase;
    }

    tr{
        border-bottom: 1px solid #d8e5d8;
        &:nth-child(2){
            th{
                width: 15%;
            }
        }
    }
    td{
        border-right: 1px solid #d8e5d8;
        border-left: 1px solid #d8e5d8;
    }
    input{
        
        width: 100%;
    }
    &.training{
        margin-top: 32px;
        td{
            height: 48px;
            padding: 8px 0;
        }
    }
    &.training-map{
        margin-top: 32px;
        th{
            font-size: 16px;
            &:nth-child(1){
                width: 60%;
            }
            &:nth-child(2){
                width: 20%;
            }
            &:nth-child(3){
                width: 20%;
            }
        }
        td{
            padding: 8px 0;
        }
    }
}

.pic{
    margin-top: 32px;
    img{
        width: 90%;
        &.components{
            width: 60%;
        }
    }
}

header {
    padding: 10px 0 5px;
    background: #fff;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    z-index: 8;
    position: relative;

    &.fixed-header{
        position: fixed;
        top: 0;
        left: 0;
    }

    img{
        width: 200px;
    }

    .menu-btn{
        line{
            background-color: #80c243;
        }
    }

    .menu-btn {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 9;
        
        &.open {
            .line {
                background-color: #fff;

                &:first-child {
                    transform: translateY(11px)  rotate(45deg);
                }

                &:nth-child(2n) {
                    transform: translateY(2px)  rotate(-45deg);
                }

                &:last-child {
                    display: none;
                }
            }
        }

        .line {
            display: block;
            width: 25px;
            height: 1px;
            margin: 8px 0;
            background-color: #80c243;
        }
    }

    .navs.open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }      
    

    .nav-bottom{

        .right{
            display: none;
            // position: absolute;
        }
        .nav-bottom.open {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
    
            .close-btn {
                position: fixed;
                top: 0%;
                right: 10px;
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                display: none;
            }
        }
        
        
    }
      
    .navs {
        ul {
    
            display: flex;
            justify-content: flex-end;
            margin: 12px 0;
            z-index: 55;

            li {
                display: inline;
                padding: 2px;
                position: relative; 

                &:hover {
                    .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                        top: 600;
                    }                        
                 }
  
                &:last-child{
                    padding-right: 0px;
                }       

                
                .dropdown-menu {
                    display: block;
                    background-color: #f1f4f1;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(40px);
                    transition: 0.4s;
                    position: absolute;
                    width: 245px;
                    top: 30px;

                    &#scroll2{
                        // height: 245px;
                        height: 67vh;
                        overflow-y: scroll;
                        overflow-x: hidden;
                   
                    }
                    
                    li {
                        display: block;
                        margin-top: 20px;
                        &:nth-last-child(1){
                            margin-bottom: 20px;
                        }


                        a {
                            color: #333;
                            padding: 0 20px !important;
                            text-transform: uppercase;
                            font-size: 13px;
                            font-weight: 600;
                        }
                    }

                    &:nth-child(1){
                        width: 200px;
                    }
                }
            }
                
            
        }
        .nav-top{
            ul{
                li{
                margin: 10px 18px ;    
                
                &:last-child {
                    margin-right: 0 ;
                }
                 
                     a{
                        line-height: 0;
                        color: #333;
                        font-size: 13px;
                        font-weight: 300;
                        letter-spacing: 2px;
                        
                         
                     }
                }
            }
             
        }
        .nav-bottom{
            
            li{
                position: relative;

                &:last-child {
                    a {
                        
                            padding-right: 0px;
                            padding-bottom: 40px;
                    }
                }

                a{
                    
                    position: relative;
                    text-align: left !important;
                    justify-content: left !important;
                    z-index: 1;
                    color: #333;
                    font-size: 15px;
                    padding: 0 25px;
                    font-weight: 500;

                    i {
                        font-size: 12px;
                        margin-left: 5px;
                    }
                    
                }
        
            }
        }
    } 
}


.banner {
    background-position: center;
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(22, 27, 27, 0.3);
    }

    .banner-text {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;

        .text {
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: #FFFFFF;
            position: absolute;
            width: 550px;
            height: 72%;
            max-width: 100%;
            left: 0;
            top: 20%;
            

            h1 {
                // margin-bottom: 28px;
                font-size: 64px;
                text-shadow: 1px 1px 1px rgba(53, 52, 52, 0.6);
            }

            h3 {
                font-size: 24px;
                line-height: 38px;
                // margin-bottom: 60px;
                font-weight: 100;
            }
            &.about{
                width: 100%;
                margin-top: 190px;
                
            }

        }

        .video {
            display: flex;
            
            video{
                width: 70%;
                height: 70vh;
                object-fit: cover;
                margin-top: 48px;
                margin-left: auto;
            }
        }
    }
    &.non{
        position: relative;
        height: 400px;

        .text{
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 100%;
            margin-top: 300px;
            
            h1{
                text-transform: uppercase;
                font-weight: 200;
                font-size: 75px;
            }
        }
    }
}

.mission{
    p{
        text-align: center;
        width: 80%;
        margin: auto auto;

        &.about{
            width: 100%;
        }
    }
}

.para{
    padding: 120px 0;
    .row{
        margin-right: 0;

        .wrap{
            max-width: 410px;
            
        }
    
    }
    .relative-wrap {
        position: relative;

        img{
            position: relative;
            z-index: 2;
            width: 100%;
            
        }
    } 
    .revised{
        .wrap{
            padding-left: 50px;
        }
        img{
            height: 400px;
            object-fit: cover;
        }
    }   
}

.slider{
    .slide{
        overflow: hidden;
        .item{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 0 20%;
    
            .text{
                padding-right: 60px;
                width: 40%;
                margin: auto;
                h2{
                    color: #007a3e;
                    text-transform: uppercase;
                }
            }
    
            .picture{
                width: 60%;
                height: 400px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            h3{
                display: none;
            }
        }
        
        .owl-dots{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
            
            button{
                border: none;
                color: #007a3e;
                padding: 11px 14px;
                text-transform: uppercase;
                border: 1px solid transparent;
                margin-right: 8px;
                font-size: 12px;

                &:hover{
                    color: #007a3e;
                    border: 1px solid #007a3e;
                    border-radius: 30px;
                }
            }
            .owl-dot{
                &.active{
                    button{
                        border: 1px solid #007a3e;
                        border-radius: 30px;
                        padding: 10px 30px;  
                    }
                }
            }
        }   
    }
}

.foundation{
    background-position: center;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 70px;  
    position: relative;
    
    .overlay{
        position: absolute;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);   
    }    
    
    .inner{
        position: absolute;
        
        .generalHead {
            width: 56%;
            height: 100%;
            padding: 8% 72px 10%;
            color: #fff;
            position: relative;
            h2{
                color: #FFFFFF;
            }
        }
    }
}

.at_glance{
    .glance{

        h2{
            
            margin-bottom: 18px;
            font-weight: 600px;
        }
        p{
            width: 825px;
            margin-bottom: 80px ;
            margin-top: 60px;
        }
    }
}

.learn{
    display: block;

    .picture{
        height: 220px;
        padding-bottom: 24px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    
    .row{
        justify-content: center;
        margin-right: 0;
    }

    
    .learn-card {
        padding: 32px 20px;
        h3{
            font-size: 24px;
            line-height: 31px;
            font-weight: 400;
            margin-bottom: 14px;
            color: #007a3e;
        }
        p{
            margin-bottom:  32px;
            
        }
        a{
            padding-bottom: 10px;
            display: inline-block;
            font-weight: 400;
            position: relative;
            transition: 0.5s;
            color: #007a3e;
            
            &:hover{
                color: #007a3e;
            }
        }
    } 
    &.non{

        
        
        .col-md-4{
            &:nth-child(even){
                margin: 0 10px;
            }
        }
        .learn-card{
            margin-bottom: 40px;
            figure{
                margin: 0;
            }
            h3{
                a{
                    display: -webkit-box;
                    height: 55px;
                    line-height: 28px;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #007a3e;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 14px;
                    font-family: 'Albra';
                }
            }
            p{
                margin-bottom: auto;
                i{
                    padding-right: 5px;
                }
            }
            .content{
                p{
                    display: -webkit-box;
                    max-width: 100%;
                    height: 180px;
                    line-height: 1.7;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 10px 0 32px;   
                }
            }
        }
    } 
}

footer{
    background-color: #0e231a;
    color: #FFFFFF;
    position: relative;
    
    .pattern{
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 100%;
        z-index: z;

        &::before{
            width: 100%;
            height: 100%;
            background-image: url(../images/bg-pattern-opacity.svg) ;
        }
    }

    a{
        color: #FFFFFF;
        font-weight: 300;

         &:hover{
             color: #FFFFFF;
            text-decoration: underline;

         }
    }
    
    .top{
        padding-top: 100px;
        display: grid;
        grid-template-columns: repeat(4,auto);
        justify-content: space-between;
        grid-gap: 70px 20px;
        font-weight: 300;
        position: relative;
        z-index: 2;

        .left {
            .logo{
                margin-bottom: 30px;

                img{
                    width: 182px;
                }
            }
            .location{
                margin-bottom: 14px;
                a{
                    font-size: 14px;
                }
            }
        }
   
        h6{
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 16px;
            font-family: 'Neufile Grotesk';
            
        }
        .footer-nav{
            margin-bottom: 16px;
            li{
                font-size: 16px;
                line-height: 19px;
                letter-spacing: .5px;
                font-weight: 400;
                margin-top: 13px ;
                &:nth-child(1){
                    margin-top: 0;
                }
                
            }
        }
        
    }

    .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 1px solid #fff;
        padding: 20px 0;
        margin-top: 90px;
        position: relative;
        z-index: 2;

        ul{
            display: flex;
        }
        .social{
            ul{
                li{
                    a {
                        font-size: 14px;
                    }

                    &:nth-child(2){
                        margin-left: 30px;
                    }
                }
            }
        }
        .nav{

            padding-top: 5px;

            li{
                margin: 0 22px;
                font-size: 13px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}

.intro{
    .container{
        width: 800px;
        max-width: 100%;

        h1{
            text-align: center;
            text-transform: uppercase;
            font-weight: 200;
            font-size: 75px;
            color: #007a3e;
            margin-bottom: 20px;
        }
        p{
            text-align: center;
        }
    }
    &.time{
        color: #FFFFFF;
        h1{
            color: #FFFFFF;
        }
    }
}

.overview{
    
    .principles{

        padding: 80px;
        
        .inner{
            margin: 90px 50px 50px 50px;
            padding-right: calc(var(--bs-gutter-x) * 0.8);
            padding-left: calc(var(--bs-gutter-x) * 0.8);
            text-align: center;
    
            img{
               width: 150px;
                padding: 20px;
            }
            
        }
    }
}

.points{
    .content{
        margin:0 90px;

        .div{
            margin-top: 65px;
        }

        h2{
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        p{
            font-size: 20px;
        }
        .picture{
            
            height: 500px;
            object-fit: cover;
            img{
                width: 100%;
            }
        }
        .text{
            margin-top: 150px;
            padding-left: 50px;
            width: 80%;
        }
    }
}

.members{
         
    .column{
        margin-bottom: 28px;

        .card-overlay {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            min-height: 400px;
            overflow: hidden;
            position: relative;
    
            &::before {
                background: linear-gradient(180deg,rgba(0,0,0,0) 70%,#0e231af0 92%);
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: .75s background ease-in-out;
                z-index: 1;
            }
    
            &:hover{
                ::before {
                    background: #0e231acc;
                }
            }
            .text-overlay{
                top: 80%;
                right: 0;
                height: 25%;
                text-align: center;
                justify-content: center;
                transition: .75s all ease-in-out;
                position: absolute;
                z-index: 2;
                width: 100%;
                h3 {
                    font-weight: 300;
                }

                p {
                    font-size: 12px;
                    font-weight: 100;
                    letter-spacing: 1.6px;
                    text-transform: uppercase;
                }

                h4{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-bottom: 0;
                }
            }

            &:hover{
                .text-overlay{
                    top: 20%;
                    left: 0%;
                    height: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 4.5rem;
                    text-align: center;

                    p{
                        overflow: visible;
                        white-space: normal;
                        width: auto;
                    }
                }
            }
        }
    }
}

.prof-int {
    .picture {
        img {
            width: 100%;
            height: 432px;
            object-fit: cover;
        }
    } 

    .text {
        padding-left: 50px;

        .generalHead {
           

            h2 {
                font-weight: 300;
            }
        }

        
    }
}

.prof-text {
    .quote {
        margin-bottom: 50px;

        h4 {
            font-weight: 200;
            font-size: 32px;
            line-height: 49px;
            font-family: "Albra";
            margin-top: 40px;
        }
    }

    .picture{
        margin: 50px 0;
    }

    p {
        margin-bottom: 50px;
    }
}

.report{
    .text{
        text-align: center;
        margin-bottom: 50px;
    }
    .report-card {
        margin: 15px 0;
        overflow: hidden;
        transition: all 0.5s;
        
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 6px rgba(0, 0, 0 , 0.3);
        }
    
        .report-img {
            position: relative;
            transition: all 0.5s ease-out;
            
            &::before {
                background: linear-gradient(180deg,rgba(247, 235, 235, 0) 100%,rgb(71, 68, 68) 100%);
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: .75s background ease-in-out;
                z-index: 1;
            }
         
            img {
                width: 100%;
                position: relative;
            }
    
            a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #ffffff;
                z-index: 2;
                opacity: 0;
                transition: all 0.5s ease-out;
                text-align: center;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1.6px;
                
    
                ion-icon {
                    display: block;
                    font-size: 42px;
                    margin:auto;
                    margin-bottom: 5px;
                    transition: 0.5s;
                }

                &:hover {

                    ion-icon {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .publish{
            padding: 20px;
            text-align: center !important;
            min-height: 96px;

            h6{
                display: none;
            }
            p{
                font-size: 14px;
            }
            h4{
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                line-height: 1.5;
                font-weight: 100;
                font-family: 'Neufile Grotesk';
                text-align: center;
            }
        }
        &:hover{
            .report-img {
                &::before {
                    background: rgba(14,35,26,.8);
                }

                a {
                    opacity: 1;
                }
            } 

           
            
            
        }
    }
}

.contact{
    
    .sec-head {
        margin-bottom: 50px;
        text-align: center;
    }
    
    .co-inf {
        text-align: center;
        margin: 15px 0;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            width: 1px;
            height: 15px;
            color: #0e231a;
            top: 0%;
            left: 0%;
        }

        i {
            font-size: 42px;
            color: #007a3e;
            
        }
        h4 {
            text-transform: uppercase;
            color: #0e231a;
            margin: 10px 0 10px;
            
        }
        a {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 1.9;
            font-weight: 400;
            color: #333;
            display: block;

            &:hover{
                font-weight: 500;
            }
        }
        p{
            label {
                display: block;
            }
        }
    }
    .form{
        
		margin: 50px 0;
        
		h2 {
			text-align: center;
			margin-bottom: 20px;
            margin-top: 80px;
		}

		.form-group {
            margin-bottom: 40px;
            padding: 0 20px;
                
            label {
                font-size: 15px;
                margin-bottom: 12px;
            }
            
            input {
                width: 100%;
                min-height: 50px;
                padding: 0 20px;
                background-color: #d8e5d8;
                border: 0;
            }
                
            textarea {
                width: 100%;
                height: 200px;
                resize: none;
                background-color: #d8e5d8;
                padding: 10px 20px;
                border: 0;
            }
        }
        .general-button{
            a {
                margin-top: 32px;
                margin-left: 20px;
                padding: 25px 25px;
            }
        }
	}

    .map{
        iframe {
            margin: 80px 0;
            width: 100%;
            height: 710px;
        }
    }
}

.award{
    
    .picture{
        text-align: center;
        width: 90%;

        img{
            width: 100%;
            margin-bottom: 5px;
        }
    }
    .text{
        margin: 50px 0;
        .space{
            margin-bottom: 24px;
            &:last-child{
                margin-top: 24px;
                margin-bottom: 0;
            }
        }
    }
}

.timeline{
    position: relative;
    
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #FFFFFF;
            top: 8px;
            left: 0;
            z-index: -1;
            // overflow: hidden;
        }
    .item{
        justify-content: center;
        padding: 100px 16px 40px;
        position: relative;

            .inner{

                background-color: #FFFFFF;
                padding: 16px;
                .circle{
                    border: 4px #fff solid;
                    background: #B7852C;
                    border-radius: 50%;
                    height: 18px;
                    width: 18px;
                    position: absolute;
                    left: 50%;
                    margin-left: -15px;
                    top: 0px;
                    z-index: 2;
                    overflow: visible;
                }
        
                .vertical-line{
                    border-left: 3px #B7852C solid;
                    height: 85px;
                    position: absolute;
                    left: 50%;
                    margin-left: -8px;
                    top: 15px;
                    z-index: 1;
                }
        
                .media-wrapper {
                    height: 270px;
                    width: 100%;
                }
        
                .timeline-text{
                    .year {
                        font-size: 20px;
                        line-height: 36px;
                        color: #FFFFFF;
                        display: table;
                        letter-spacing: -1px;
                        padding: 0 8px;
                        background-color: #007a3e;
                        z-index: 1;
                        position: relative;
                        margin: -32px -8px 8px;
                        font-weight: 400;
                    }
                    .month {
                        font-size: 12px;
                        text-transform: uppercase;
                        color: #B7852C;
                        // color: #315e88;
                        display: block;
                        margin-bottom: 8px;
                        font-weight: 900;
                    }
                    p {
                        font-size: 17px;
                        line-height: 20px;
                        color: #333;
                        font-weight: 400;
                    }
                }
            }
    }
    .owl-dots {
        text-align: center;
        display: block;

        .owl-dot {
            width: 15px;
            height: 15px;
            background: #fff;
            border-radius: 100%;
            display: inline-block;
            margin: 0 5px;

            &.active{
                background: #ffffffba;
            }
        }
    }
    .owl-nav{
        
        .owl-prev {
            &::after {
                content: 'Prev';
                position: absolute;
                top: 270px;
                left: 5px;
                border: 1px solid #B7852C;
                border-radius: 4px;
                padding-top: 5px;
                width: 56px;
                height: 32px;
                color: #fff;
                background: #B7852C;
                opacity: 0.9;
            }
            span{
                 display: none;
            }
        }
        .owl-next {

            &::after {
                content: 'After';
                position: absolute;
                top: 270px;
                right: 5px;
                border: 1px solid #B7852C;
                border-radius: 4px;
                padding-top: 5px;
                width: 56px;
                height: 32px;
                color: #fff;
                background: #B7852C;
                opacity: 0.9;
            }
            span{
                display: none;
            } 
        }
    }
    
}

.vacancy{

    .header{
        h3{
            font-size: 32px;
        }

    }
    
    .form{
        h4{
            margin: 56px 0 24px ;
            color: #007a3e;
            &.next{
                margin: 90px 0 40px;
            }
        }
        h6{
            font-size: 14px;
            text-transform: lowercase;
            font-weight: 400;
        }
        form{
            padding: 0 80px;

            input, select{
                border: 0;
                background-color: #d8e5d8;
                height: 32px;
                width: 100%;
                padding-left: 16px;
                font-size: 14px;
                &:focus-visible {
                    outline: none;
                }

                &[type="radio"]{
                    height: auto;
                    width: auto;
                }
            }
            table{
                tr{
                    th{
                        color: #fff;
                        background-color: #0e231a;
                    }
                    input{
                        background-color: #fff;
                    }
                }
            }

            label{
                padding-right: 32px;
                font-size: 14px;
                margin-bottom: 8px;
                text-transform: uppercase;
                span{
                    text-transform: lowercase;
                    margin-left: -8px;
                }
            }

            .check{
                display: flex;
                align-items: center;
                margin-bottom: -10px !important;

                input{
                    width: auto;
                    margin-right: 16px;
                    margin-top: -12px;
                }
            }

            
            .form-group{
                padding-top: 50px;
                padding-bottom: 30px;
                align-items: center;
                border-bottom: 1px solid #00000050;
                border-width: 90%;

                .radio{
                    display: flex;
                }
                .col{
                    display: grid;

                    &.counsel{
                        display: block;
                    }
                }    

                div, ul{
                    margin: 10px 0;
                }
                
                ul{
                    display: flex;

                    li{
                        padding-right: 24px;
                        font-size: 14px;
                        input{
                            margin-right: 8px;
                        }
                        label{
                            font-size: 14px;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }

        h6{
            font-size: 14px;
            font-weight: 600;
            padding-top: 9px;
        
        }
        .ttr{
            h5{
                margin: 60px 0 40px;
            }
            li{
                display: flex;
                margin-bottom: 8px;
                display: flex;
                align-items: center;
                p, .attachment{
                    width: 50%;
                }
               
            }
            label{
                padding: 6px 0 0 24px;
            }
            input{
                padding: 2px 0 0 8px;
                background-color: transparent;
                width: auto;
            }

        }
        .general-button{
            text-align: center;
            a {
                margin-top: 50px;
                padding: 15px 25px 10px;
            }
        }
    }
}

.accordion{

    .items{
        padding: 50px 0;
        .accordion-item {
            p{
                margin: 30px 0;
                &.non{
                    margin-bottom: 0;
                }   
            }
            .accordion-button{
                background-color: #0e231a;
                h3{
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 22px;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                }
                h4{
                    color: #fff;
                    font-size: 22px;
                }
            }
            .accordion-button {

                &:focus {
                    outline: none;
                    border-color: none !important;
                    box-shadow: 0 !important;
                }

                &.collapsed {
                    &::after {
                        background-image: url(../images/chevron-down-outline.png);
                        transform: rotate(180deg);
                        transition: 0.8s;
                        
                    }
                }

                &::after {
                    background-image: url(../images/chevron-down-outline.png);
                    transform: rotate(0deg);
                }
            }

            h5{
                margin-top: 20px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    h2{
        margin-top: 50px;
    }
}

.general{
    .picture{
        width: 80%;
        margin: auto;
    }
    
}

.generalBody{
    padding: 100px 80px 50px;
    .body{
        margin-bottom: 50px;
        h3{
            color: #007a3e;
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 0.5px;
            margin-bottom: 20px;
        }
        h5{
            font-size: 22px;
            color: #007a3e;
            margin: 25px 0 10px;
        }
        h6{
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 16px;
        }   
    }
}

.hsp{
    h5{
        margin: 20px 0 10px;
    }
}



.info{
    .lists{
        padding: 40px;
    }
}


.current{
    .header{
        color: #fff;
        padding: 12px 8px;
        h4{
            margin-bottom: 0;
            padding: 10px 0;
        }
    }
    .body{
        padding: 40px;
        h6{
            margin-bottom: 10px;
        }
    }
}


#scroll2::-webkit-scrollbar {
    width: 8px;
    height: 2px;
}
#scroll2::-webkit-scrollbar-track {
    background: #ccc; 
    
}
#scroll2::-webkit-scrollbar-thumb {
    background: #808080;
    // background: #0e231a;
}